table {
    border-collapse: separate;
    background-color: blueviolet;
    border-spacing: 5px;
  }
  
  table,th, td{
    border:1px solid black;
    width:40%
  }
  header{
    background-color:lightblue;
    color: black;
    padding:1px;

  
}
body{
  background-color: pink;
}