
    table {
        border-collapse: separate;
        background-color: blueviolet;
        border-spacing: 5px;
      }
      
      table,th, td{
        border:1px solid black;
        width:40%
      }
      header{
        background-color:grey;
        color: black;
        padding:1px;

      }
      body {
        background-image: url("https://wallpaperaccess.com/full/749804.jpg");
        background-size: 120% 200%; /* Adjusts the image size to cover the entire viewport */
        background-position: center; /* Centers the image horizontally and vertically */
        background-repeat: no-repeat; /* Prevents image repetition */
    }
    https://wallpapercave.com/wp/wp5865126.jpg
